<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    To Do List for {{month}}/{{day}}/{{year}}
  </h1>
  <h3>{{currentFocus}}</h3>
</div>

<h4>Task</h4>
  <div class="form-group">
    <h4>Enter a task</h4>
    <input type="task" id="task" required>
    <h4>Set priority</h4>
      <select id="priority">
        <option value="low">Low</option>
        <option value="medium">Medium</option>
        <option value="high">High</option>
      </select><br><br>
    <button type="submit" id="btn">Add to list</button>
  </div>

<h3>To Do List </h3>
<ul>
    <li *ngFor="let currentTask of tasks">{{currentTask.description}}</li>

</ul>
